<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<header class="bg-green-700">
  <div id="current-time" class="text-3xl font-bold mt-4 ml-auto mr-auto"></div>
  <%= image_tag 'logo.png', alt: 'The Pragmatic Bookshelf' %>
  <h1><%= @page_title %></h1>
</header>
<section class="flex">
  <nav class="bg-green-900 p-6">
    <ul class="text-gray-300 leading-8">
      <li><a href="/">HOME</a></li>
      <li><a href="products">PRODUCTS</a></li>
      <!--<li><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>-->
    </ul>
  </nav>
  <main class="container mx-auto mt-4 px-5 flex">
    <%= yield %>
  </main>
</section>
</body>
</html>
<script>
    $(document).ready(function() {
        updateTime(); // Update the time immediately on page load
        setInterval(updateTime, 1000); // Update the time every second
    });

    function updateTime() {
        $.ajax({
            url: '/current_time',
            success: function(data) {
                $('#current-time').text(data); // Update the time display
            }
        });
    }
</script>